h* {
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
}

.firstnav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.firstnav input {
    width: 400px;
    height: 27px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid gray;
    margin-top: 20px;

}

.firstnav p {
    margin-top: 17px;
    font-size: 17px;
}

.firstnav svg {
    margin-top: 17px;
    margin-right: 1px;
    padding-right: -50%;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;


}

#top {
    margin-right: 20px;
}

.secondnav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 11px;
    background-color: rgb(239, 238, 243);
    font-weight: 800;

}

.secondnav img {
    width: 6%;
    border-radius: 3px;
}

.secondnav p:hover {
    border-bottom: 2px solid rgb(2, 2, 66);
    color: rgb(2, 2, 66);
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: space-evenly;

}

.icon p {
    margin-right: 50px;

}

.lens {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(239, 238, 243);
    padding: 11px;
    padding-bottom: 20px;
}
.lens img{
    width: 18%;
    border: 2px solid white;
    border-radius: 5px;
}
.main img{
    width: 100%;
}
.cart{
    display: flex;
   justify-content: flex-end;
    justify-content: space-around;
    
    text-align: center;
    
    background-color: rgb(239, 238, 243) ;
    
}
.cart img{
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.cart .card img{
  width: 70%;
}
.cart .card1 img{
  width: 56%;
}
.cart button{
    width: 100px;
    height: 33px;
    color: white;
    background-color: rgb(58, 150, 215);
    border-radius: 2px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.card p{

    font-size: 16px;
}
.card1 p{
    font-size: 16px;
}
.banner h2{
    text-align: center;
    padding: 22px;
    
}
.banner h2::before{
    content: '';
    flex: auto;
    border-bottom: 1px solid #cfcdcd;
    margin: auto 15px;
}
.banner h2::after{
    content: '';
    flex: auto;
    border-bottom: 1px solid #cfcdcd;
    margin: auto 15px;
}
.banner img{
    width: 100%;
}
.banner .t-img{
    display: flex;
   justify-content: center;
    justify-content: space-around;
}
.t-img{
    width: 100%;
}
.main-img img{
    width: 100%;
}
.footer{
    display: flex;
   justify-content: center;
    justify-content: space-around;
    background-color: rgb(9, 9, 79);
    color: white;
    padding: 43px;
}
.footer .list ul{
    
    list-style: none;
}
.list{
    background-color:rgb(9, 9, 79);
    color: white;
}
.list a{
    display: flex;
   justify-content: center;
    justify-content: space-around;
}
.list p{
    display: flex;
   justify-content: center;
    justify-content: space-around;
    margin: 10px;
    margin-bottom: 0px;
}
.copyright li {
    
    list-style: none;
}